:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-irs-blue: #00599c;
  --color-button-blue: #0f507e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
